<h1>Here is the task u asked 4</h1>

<!-- app/views/restaurants/show.html.erb -->
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<h3>
  <%= link_to "index", tasks_path %>
</h3>

<h3>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</h3>
